
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Home Hero Section */
.home-hero-section {
  padding: 2rem;
  padding-left: 9rem;
  background: linear-gradient(135deg, #ffffff, #e3e6ec);
  max-width: 1300px;
  margin: 0 auto;
}

.home-hero-container {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-hero-content {
  flex: 1;
}

.home-subtext  {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #555;
  gap: 0.5rem;
  white-space: nowrap;
}
.home-subtext span{
  font-size:1rem;
}

.home-arrow-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  line-height: 0.1;
  margin-top: 3rem;
  white-space: nowrap;
}

.home-title-highlight {
  color: #0070f3;
}

.home-description {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: #444;
}

/* Trending Section */
.home-trending-section {
  padding: 4rem 1.5rem;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  max-width: 1200px;
  margin: 0 auto;
}

.home-section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.home-product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-hero-container {
    flex-direction: column;
    text-align: center;
    padding-left: 2rem; /* Adjust padding for smaller screens */
  }

  .home-subtext {
    justify-content: center; /* Ensure the text is centered */
  }

  .home-title {
    font-size: 2rem;
  }

  .home-description {
    font-size: 1rem;
  }

  .home-trending-section {
    padding: 3rem 1rem;
  }

  .home-section-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .home-title {
    font-size: 1.8rem;
  }

  .home-description {
    font-size: 0.95rem;
  }

  .home-trending-section {
    padding: 2rem 0.5rem;
  }

  .home-section-title {
    font-size: 1.6rem;
  }

  .home-subtext {
    font-size: 1.5rem; /* Slightly smaller font size on small devices */
  }

  .home-hero-section {
    padding-left: 1rem; /* Reduce padding on smaller screens */
  }
}
